{% extends 'store/base.html' %}

{% block title %}Контакты - Groove{% endblock %}

{% block content %}
<h1> Контакты</h1>

<div class="contacts-info">
    <div class="contact-block">
        <h3> Адрес</h3>
        <p>г. Улан-Удэ, ул. Музыкальная, д. 7</p>
    </div>
    
    <div class="contact-block">
        <h3> Телефон</h3>
        <p>+7 (999) 123-45-67</p>
    </div>
    
    <div class="contact-block">
        <h3>✉️ Email</h3>
        <p>info@groove.ru</p>
    </div>
    
    <div class="contact-block">
        <h3>⏰ Режим работы</h3>
        <p>Пн-Пт: 10:00 - 21:00</p>
        <p>Сб-Вс: 11:00 - 20:00</p>
    </div>
</div>
{% endblock %}